<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CitiMoLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2AC1FBD5216267970082C421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC1FBE92162679B0082C421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AC1FBF42162679B0082C421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
